
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
:root {
  --primaryColor: #f15025;
  --mainWhite: #fff;
  /* --mainBlack: #222; */
  --mainGrey: #9e9e9e;
  --mainRed: #d50000;
  --mainGreen: #0b401b;
}
* {
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}
body {
  background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfwsbfeNmP99mp4k8tgJIx6rzKfzlSfk1M6ohymmhg1-gmEJ8phPijOAnAH4ZPZgFYF7g&usqp=CAU") ;
  /* color: var(--mainBlack); */
  font-family: "Roboto", sans-serif;
}
h1 {
  text-align: center;
  text-transform: capitalize;
  margin: 2px 0;
  color: #482312;
  letter-spacing: 5px;
}
.App {
  margin: 15px auto;
  max-width: 1280px;
  width: 90%;
  background: linear-gradient(135deg,#4e2f213e,#4e2f213e);
  backdrop-filter: blur(2px);
  padding-bottom: 2rem;
  border-radius: 5px;
  border: 2px solid #4e2f2148;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.041);
}

.form-center {
  display: grid;
  padding: .70rem 1rem;
  /* border: 1px solid red; */
  /* flex-direction: column; */
  grid-template-columns:30% 30% 30%;
  justify-content: center;
  /* align-items: center; */
}
.form-group {
  /* padding: 1rem 0.75rem; */
  flex: 0 0 50%;
  /* width: 50%; */
  /* border: 1px solid red; */
  /* text-align: center; */
}
label {
  display: block;
  color:#21120a;
  font-size: 16px;
  text-transform: capitalize;
}

.form-control {
  background-color: #4823124e;
  /* border: 1px solid #482312; */
  color: white;
  border: none;
  /* border-bottom: 1px solid var(--mainGrey); */
  border-radius: 5px;
  outline: none;
  box-shadow:3px 0px 5px 0px #4823124e  inset,
  0px 3px 5px 1px #4823124e inset,
  -1px 0px 2px 1px #31180c inset,
  0px -1px 2px 1px #31180c inset;
  height: 35px;
  width: 95%;
  font-size: 16px;
  margin: 8px 0 8px 0;
  padding:5px 10px;
}

.form-control:focus{
  background-color: #34190d5b;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  /* border: 1px solid #1c0d07ba; */
}
/* .form-group:nth-child(4),:nth-child(5){
  margin-left: 20px!important;
  border: 1px solid red;
} */

.btn {
  text-decoration: none;
  color: #ae8460;
  background-color: #381f10;
  text-align: center;
  letter-spacing: 0.5px;
  font-size: 14px;
  outline: 0;
  border: none;
  border-radius: 5px;
  display: block;
  height: 36px;
  line-height: 36px;
  padding: 0 20px;
  text-transform: uppercase;
  margin: 0 auto;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  align-items: center;
}
.btn:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.btn-icon {
  margin-left: 0.75rem;
  font-size: 1.2rem;
}
.list {
  margin: 2rem 0.75rem 0 0.75rem;
  list-style-type: none;
  border: none;
  padding: 0;
}
.item {
  background-color:#4823124e;
  line-height: 1.5rem;
  padding: 10px 10px;
  margin-bottom: 1rem;
  border: 1px solid #360c0c;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s linear;
}
.item:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: scale(1.05);
}
.info {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
}
.expense {
  margin-right: 2rem;
  text-transform: capitalize;
  color: #ae8460;
  background-color: #381f10;
  border-radius: 5px;
  padding: 1px 8px;
}
.amount {
  font-weight: 300;
  font-size: 1rem;
  color: #ae8460;
  background-color: #381f10;
  border-radius: 5px;
  padding: 1px 5px;
  margin-left: 10px;
}
.clear-btn,
.edit-btn {
  background: none;
  border: none;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
}
.clear-btn {
  color: black;
}
.edit-btn {
  color: black;
}
.total {
  font-weight: 300;
  color: var(--mainWhite);
  background-color: var(--primaryColor);
  border-radius: 2px;
  padding: 2px 5px;
}
.alert {
  padding: 0.75rem 1.25rem;
  color: var(--mainWhite);
  text-align: center;
  text-transform: capitalize;
  width: 90%;
  margin: 1rem auto 0 auto;
  border-radius: 2px;
  text-transform: capitalize;
}
.alert-danger {
  background: black;
}
.alert-success {
  background: white;
  color: black;
}
@media screen and (min-width: 601px) {
  .App,
  .list,
  .alert {
    width: 85%;
  }

  .list {
    margin: 2rem auto 0 auto;
  }
}
@media screen and (min-width: 993px) {
  .App,
  .list,
  .alert {
    width: 70%;
  }
  .list {
    margin: 2rem auto 0 auto;
  }
  .info {
    flex: 0 0 50%;
  }
}
